@use "../partials/variables"as *;

// Media Query
@mixin desktop {
    @media screen and (min-width: $desktop) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet) {
        @content;
    }
}


// Fonts
// Mobile Text Styles
@mixin mobile__page-header {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

@mixin mobile__section-header {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

@mixin mobile__subheader {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
}

@mixin mobile__body-copy {
    font-size: 13px;
    line-height: 18px;
    font-weight:400;
}

@mixin mobile__footer-copy {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

@mixin mobile__labels-buttons {
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
}


// Desktop & Tablet Text Styles
@mixin desktop__page-header {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
}

@mixin desktop__section-header {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
}

@mixin desktop__subheader {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}

@mixin desktop__body-copy {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

@mixin desktop__footer-copy {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

@mixin desktop__labels-buttons {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
}


// Button styles
@mixin cta {
    height: 2.5rem;
    width: 9.375rem;
    padding: 0 2rem;
    margin: 1rem 0;
    border-radius: .25rem;
}

// Divider styles 
@mixin divider {
    stroke-width: 1px;
    color: $secondary-mercury
}


//Button styles 
@mixin button {
        text-transform: uppercase;
        @include mobile__labels-buttons;
        background-color: $primary-black;
        color: $primary-white;
        @include cta;
        width: 100%;


        @include tablet {
            @include desktop__labels-buttons;
            width: 9.375rem;
            margin-left: auto;
        }
}