// Colors
$primary-black:#323232; //BandSite-Black
$primary-silver: #AFAFAF; //Silver
$primary-white: #FFFFFF; //White

$secondary-black: #000000; //BandSite-DarkBlack
$secondary-mercury: #E1E1E1; //Mercury
$secondary-alabaster: #FAFAFA; //Alabaster

$error: #D22D2D;


// Fonts
@font-face {
    font-family: "AvenirNextLTPro";
    src: url("/assets/fonts/AvenirNextLTPro-Bold.otf"), url("/assets/fonts/Alternative/AvenirNextLTProBold.ttf");
    font-style: Bold;
    font-weight: 700;
}

@font-face {
    font-family: "AvenirNextLTPro";
    src: url("/assets/fonts/AvenirNextLTPro-Demi.otf"), url("/assets/fonts/Alternative/AvenirNextLTProDemi.ttf");
    font-style: Demi;
    font-weight: 600;
}

@font-face {
    font-family: "AvenirNextLTPro";
    src: url("/assets/fonts/AvenirNextLTPro-Regular.otf"), url("/assets/fonts/Alternative/AvenirNextLTPro.ttf");
    font-style: normal;
    font-weight: 400;
}

// Media Query Sizes 
$tablet: 768px;
$desktop: 1280px;
$max-desktop: 1020px;