@use "./partials/resets";
@use "./partials/variables" as *;
@use "./partials/mixins"as *;



// About Styles
.about {
    padding: 1.5rem 1rem;

    @include tablet {
        padding: 2.25rem 3rem;
    }

    &__title {
        padding-bottom: 1rem;
        @include mobile__section-header;

        @include tablet {
            padding-bottom: 2.25rem;
            @include desktop__section-header;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @include tablet {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__image {
        width: 100%;

        @include tablet {
            width: 75%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__container--text {
        @include tablet {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
    }

    &__quote {
        padding-top: 1rem;
        @include mobile__subheader;

        @include tablet {
            @include desktop__subheader;
        }
    }

    &__quote--author {
        @include mobile__subheader;
    }

    &__subheading {
        @include mobile__subheader;
        padding: 1.5rem 0 1rem;

        @include tablet {
            @include desktop__subheader;

        }
    }

    &__info {
        @include mobile__body-copy;
        margin-bottom: 1rem;

        @include tablet {
            @include desktop__body-copy;
            margin-right: 1rem;
        }
    }

    &__info--container {

        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
        }
    }
}



.gallery {

    &__title {
        padding-left: 1rem;
        @include mobile__section-header;

        @include tablet {
            padding-left: 3.8rem;
            @include desktop__section-header;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        background-color: $secondary-alabaster;
        padding-top: 1.5rem;

        @include tablet {
            padding-top: 3rem;
        }
    }

    &__container--images {
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            padding: 3rem;
        }
    }


    &__image {
        padding: 1rem;
        width: 100%;
        
        @include tablet {
            width: 33.33%;
        }
    }
    
    @include desktop {
        &__image {
            filter: grayscale(1);
        }
        
        &__image:hover {
            filter: none;
            cursor: pointer;
        }
    }
}

