@use "../styles/partials/resets";
@use "../styles/partials/variables"as *;
@use "../styles/partials/mixins"as *;

// Header Styles
.header {
    background: $primary-black;
    padding: 5rem;

    &__nav {
        color: $primary-white;
    }

    &__logo-container {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    &__logo {
    height: 20px;
    width: 120px;
    }

    &__navlist {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: space-evenly;
    }

    &__navlist-item {
        text-decoration: none;
        list-style: none;

    }
}

// Hero Styles
.hero {
    display: flex;


    &__container {}

    &__title {
        @include mobile__page-header;
        z-index: 1;
    }

    &__image {
        z-index: 2;
    }
}


// About Styles
.about {}



// Gallery Styles
.gallery {
    display: flex;
    margin: 0 20px;


    &__title {}

    &__container {
        flex-direction: column;

        &__image {
            width: 200px;

            @include tablet {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-content: space-evenly;
                background-color: green;
            }

            @include desktop {
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-content: space-evenly;
                background-color: red;
            }
        }
    }
}



// Footer Styles 