@use "../styles/partials/resets";
@use "../styles/partials/variables"as *;
@use "../styles/partials/mixins"as *;

// Header Styles
.header {
    background: $primary-black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    @include tablet {
        @include desktop__body-copy;
        padding: 1rem 2.25rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
    
    @include desktop {
        padding: auto;
    }
    
    &__nav {
        @include mobile__body-copy;
        
        // Tablet and Desktop 
        @include tablet {
            @include desktop__body-copy;
            display: flex;
            align-items: center;
        }
        
    }
    
    &__logo--container {
        display: flex;
        justify-content: center;
    }
    
    &__logo {
        max-height: 1.25rem;
        max-width: 7.5rem;
    }
    
    &__navlist {
        display: flex;
        list-style: none;
        align-items: flex-end;
    }
    
    
    &__navlist--item {
        position: relative;
        margin-right: 3rem;
        margin-left: 3rem;
        top: 1rem;
        padding-bottom: .5rem;
        
        @include tablet {
            padding-bottom: 1.5rem;
        }
    }

    &__navlist--hover {
        color: $primary-white;
        text-decoration: none;
        list-style: none;
    }
    
    &__navlist--hover:hover {
        color: $primary-white;
        padding-bottom: .7rem;
        border-bottom: .25rem solid white;
        cursor: pointer;

        @include tablet {
            padding-bottom: 1.7rem;
        }
    }
    
    &__navlist--item.active {
        border-bottom: .25rem solid white;
        font-weight: 700;
    }
    
    &__navlist--item.unactive {
        border-bottom: .25rem solid transparent;
        color: $secondary-mercury;
    }


}

// Hero Styles
.hero {
    display: flex;

    &__container {
        position: relative;
        text-align: center;
        width: 100%;
    }

    &__title {
        @include mobile__page-header;
        position: absolute;
        z-index: 3;
        color: $primary-white;
        top: 50%;
        margin-left: 1rem;
        transform: translateY(-50%);

        @include tablet {
            @include desktop__page-header;
            padding: 2.25rem;
        }

    }

    &__image {
        position: relative;
        width: 100%;
        z-index: 1;
    }

    &__container--image::before {
        content: "";
        position: absolute;
        background-color: rgba(50, 50, 50, 0.5);
        width: 100%;
        height: 97.5%;
        z-index: 2;
        overflow: hidden;

        @include tablet {
            height: 100%;
            overflow: hidden;
        }
    }
}


// About Styles
.about {
    padding: 1.5rem 1rem;

    @include tablet {
        padding: 2.25rem 3rem;
    }

    &__title {
        padding-bottom: 1rem;
        @include mobile__section-header;

        @include tablet {
            padding-bottom: 2.25rem;
            @include desktop__section-header;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @include tablet {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__image {
        width: 100%;

        @include tablet {
            width: 75%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__container--text {
        @include tablet {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
    }

    &__quote {
        padding-top: 1rem;
        @include mobile__subheader;

        @include tablet {
            @include desktop__subheader;
        }
    }

    &__quote--author {
        @include mobile__subheader;
    }

    &__subheading {
        @include mobile__subheader;
        padding: 1.5rem 0 1rem;

        @include tablet {
            @include desktop__subheader;

        }
    }

    &__info {
        @include mobile__body-copy;
        margin-bottom: 1rem;

        @include tablet {
            @include desktop__body-copy;
            margin-right: 1rem;
        }
    }

    &__info--container {

        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
        }
    }
}



.gallery {

    &__title {
        padding-left: 1rem;
        @include mobile__section-header;

        @include tablet {
            padding-left: 3.8rem;
            @include desktop__section-header;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        background-color: $secondary-alabaster;
        padding-top: 1.5rem;

        @include tablet {
            padding-top: 3rem;
        }
    }

    &__container--images {
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            padding: 3rem;
        }
    }


    &__image {
        padding: 1rem;
        width: 100%;
        filter: grayscale(1);

        @include tablet {
            width: 33.33%;
        }
    }

    &__image:hover {
        filter:none;
        cursor: pointer;
    }
}

// Footer Styles 

.footer {
    display: flex;
    flex-direction: column;
    color: $primary-white;
    background-color: $primary-black;
    padding: 1rem;
    @include mobile__footer-copy;

    @include tablet {
        padding: 2rem 3rem;
    }

    &__container {
        margin-top: 1.5rem;
    }
    
    &__container--space {
        @include tablet {
            padding-left: 3rem;
        }   
    }

    &__container--one {
        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 0;
        }
    }

    &__container--icons {
        @include tablet {
            display: flex;
            flex-direction: row;
             align-items: baseline;
        }

    }

    &__container--contact {

        @include tablet {
            display: flex; 
            justify-content: flex-start;
            align-items: flex-start;
        }
    }
    
    &__container--copyright {
        padding-top: 3rem;
        @include mobile__footer-copy;
    }

    &__title {
        @include mobile__page-header;
    }

    &__icon {
        flex-direction: row;
        padding-right: 1rem;
        padding-top: 1rem;

        @include tablet {
            padding-left: 1rem;
        }
    }

    &__subheading--container {
        margin-bottom: 1rem;

    }

    &__info--container {
        margin-bottom: 1rem;
    }

    &__logo--tablet {
        display: none;

        @include tablet {
            display: flex;
        }
    }

    &__logo--mobile {
        @include tablet {
            display: none;
        }
    }

}