@use "./partials/resets";
@use "./partials/variables"as *;
@use "./partials/mixins"as *;

// HERO STYLES
.hero {

    &__album {
        @include mobile__subheader;
        position: absolute;
        z-index: 3;
        color: $primary-white;
        top: 33.33%;
        margin-left: 1rem;
        transform: translateY(-50%);

        @include tablet {
            @include desktop__subheader;
            padding: 2.25rem;
        }
    }
}


// SHOWS STYLES
.shows {
    
    // padding: 1.5rem 1rem;

    &__title {
        padding-bottom: 1rem;
        @include mobile__section-header;
    }

    &__subheader {
        @include mobile__body-copy;
        color: $primary-silver;
        text-transform: uppercase;
    }


    &__divider{
        border: none;
        border-top: .0625rem solid $secondary-mercury;
        margin: .625rem 0;
        width: 100%;
      }

}
