@use "./partials/resets";
@use "./partials/variables"as *;
@use "./partials/mixins"as *;

// HERO STYLES
.hero {

    &__album {
        @include mobile__subheader;
        position: absolute;
        z-index: 3;
        color: $primary-white;
        top: 33.33%;
        margin-left: 1rem;
        transform: translateY(-50%);

        @include tablet {
            @include desktop__subheader;
            padding: 2.25rem;
        }
    }

    &__overlay {
        display:flex; 
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 30rem;
        height: 10rem;
        z-index: 4;
    }

    &__music {
            width: 100%;
            height: 100%;
            border: none;
    }

}



.shows {
    // padding: 1.5rem 1rem;


    &__title {
        padding: 1rem;
        @include mobile__section-header;
    }

    &__list-item {
        padding: 1rem;
    }

    &__subheader {
        @include mobile__body-copy;
        color: $primary-silver;
        text-transform: uppercase;
    }

    &__button {
        height: 2.5rem;
        background-color: $primary-black;
        color: white;
        padding: 2rem;
        max-width: 9.375rem;
        text-align: center;
    }

    &__divider {
        border: none;
        border-top: .0625rem solid $secondary-mercury;
        margin: .625rem 0;
        width: 100%;
    }

}